body {
  width: 100vw;
  height: 100vh;
}



.down {display: flex;
flex-direction: column;}

.vedle {
display: flex;
}
.centr {
display: flex;justify-content: center;align-items: center;
}

.pod {
display: flex;
flex-direction: column;
}


.zelenatmava {
  background-color: forestgreen
}
.zelenasvetla {
  background-color: lightgreen
}
.zlutatmava {
  background-color: rgb(83, 83, 0)
}

.zlutasvetla {
  background-color: rgb(255, 255, 0)
}

.obrazek {
 flex-grow: 1;
 min-height: 500px;
  max-height: 500px;
}


.odstavec {
  width: 500px;
  height: 425px;
  margin-top: 40px;
  border: 1cm solid white;
  border-radius: 0cm 1cm 1cm 0cm;
  border: 1cm solid rgb(83, 83, 0);
}

.tlacitko {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: rgb(255, 255, 0);
}
.velkytlacitko {
    width: 200px;
    height: 100px;
    border-radius: 20px;
    background-color: rgb(255, 255, 0);
}

