body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

.pages {
}

.part {
  flex-grow: 1;
  min-height: 150vh;
  max-height: 150vh;
  width: 100vw;
  margin: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main-page {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-image: url(obr/main.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}


.button {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(25px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.small-button {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 10px;
}

.xbox {
  height: 30vh;
  width: 20vw;
}
.playstation {
  height: 30vh;
  width: 20vw; 
}
.steam {
  height: 140px;
  width: calc(40vw + 12px);
}

.footer {
  background-repeat: no-repeat;
  margin: 0;
  height: 70vh;
  width: 100vw;
  background-position: center;
  display: flex;
  flex-direction: column;
  background: transparent;
  position: relative;
  bottom: 0;
}


.red.part {
  background-image: url(obr/red-back.webp);
}
.green.part {
  background-image: url(obr/green-back.webp);
}
.grey.part {
  background-image: url(obr/white-back.webp);
}
